.home-container {
  padding: 40px;
}

.Courses {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 600;
}

.ul1 {
  list-style-type: none;
  padding-left: 0px;
  display: flex;

  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.loader-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
