.failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 40px;
}

.f-heading {
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 600;
  color: #475569;
  margin-bottom: 5px;
}

.f-para {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  color: #64748b;
}

.f-button {
  background-color: #4656a1;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  color: #e8e8e8;
  font-family: 'Roboto';
  font-size: 18;
  font-weight: 500;
}
